.formcontainer{
    background: rgb(255, 255, 255);;
    border-radius: 10px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
        0 1px 1px rgba(128, 128, 128, 0.155),
        0 2.1px 2.1px rgba(128, 128, 128, 0.195),
        0 4.4px 4.4px rgba(128, 128, 128, 0.241),
        0 12px 12px rgba(128, 128, 128, 0.35);
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    color: rgb(0, 0, 0);
    
}

.form label {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    margin: 0 auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.erreur{
    color: red;
    font-size: smaller;
    align-self: flex-start;
}

.submitbutton{
    border-radius: 10px;
    border: 0;
    box-sizing: border-box;
    background: rgb(255, 0, 208);
    box-shadow: rgb(255, 0, 208) 0 10px 20px -10px;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 5px;
    margin-top: 10px;
  
}

.divinput{
    height: 45px;
}

.form h3{
    margin: 0  0 20px;
}

.form input{
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 18px;
    outline: 0;
    width: 100%;
}

.form textarea{
    outline: none;
    background-color: transparent;
    border-color: pink;
}